# IDE
.idea

# dependencies
node_modules
packages/**/node_modules

# production
packages/**/dist
dist

# misc
.DS_Store
packages/**/*.tgz

packages/**yarn-debug.log*
packages/**yarn-error.log*
packages/lib/coverage*
packages/lib/build-stats.html

.yarn/install-state.gz

yarn-debug.log*
yarn-error.log*
