.markdown > h1 {
  font-size: 34px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.markdown > h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 24px;
  margin-top: 2em;
  font-weight: 600;
}

.markdown > h3 {
  opacity: 0.75;
  margin-top: 2em;
}

.markdown > hr {
  margin: 4em 0;
  border: 0;
  background: #ccc;
}

.markdown > p.category {
  margin-top: -20px;
  font-weight: bold;
  opacity: 0.5;
  font-size: 16px;
  font-style: italic;
  font-family: 'Pathway Gothic One', sans-serif;
}

.markdown table {
  border-collapse: collapse;
  border: solid 1px #aaa;

  th {
    text-align: left;
    padding: 10px;
    border-bottom: solid 1px #aaa;
    background: #eee;
  }
  td {
    border-bottom: solid 1px #ccc;
    padding: 10px;

    &:first-child {
      text-align: right;
    }
  }
}

.markdown code[class^='language'] {
  padding: 20px;
  border-left-width: 3px;
}

.markdown .mermaid {
  &:not([data-processed='true']) {
    opacity: 0;
  }

  g rect {
    fill: #155f00 !important;
  }

  g .label {
    color: white !important;
  }

  .edgeLabel {
    color: black;
  }
}
