name: pr-check

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: NPQ_PKG_MGR=yarn npx npq install
      - name: Build library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: build
      - name: Test library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: test:coverage
      - name: Build docs
        uses: borales/actions-yarn@v4
        with:
          dir: packages/docs
          cmd: build
