name: pr-check

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install node
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: 24
      - name: Install dependencies
        run: NPQ_PKG_MGR=yarn npx npq install
      - name: Build library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: build
      - name: Test library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: test:coverage
      - name: Build docs
        uses: borales/actions-yarn@v4
        with:
          dir: packages/docs
          cmd: build
