name: merge-to-master

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: NPQ_PKG_MGR=yarn npx npq install
        with:
          cmd: install
      - name: Build library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: build
      - name: Test library
        uses: borales/actions-yarn@v4
        with:
          dir: packages/lib
          cmd: test:coverage
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
